.u-section-1 .u-sheet-1 {
  min-height: 884px;
}

.u-section-1 .u-image-1 {
  min-height: 366px;
  margin-bottom: 0;
  margin-top: 20px;
  background-image: url("images/pexels-photo-3978928.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 438px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 15px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 80px 483px 0 12px;
}

.u-section-1 .u-text-3 {
  line-height: 1.6;
  margin: 22px 12px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 45px 15px 0 12px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 438px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-1 .u-image-2 {
  width: 241px;
  height: 241px;
  background-image: url("images/8f3a6c3833015550f3471230fdc5c6aee3186099e820b4db9c1e907dfbda26eb31ae7a79e386af0703094221f80e156cbac031a8bcdeb44f4f32ed_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 378px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 361px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-1 .u-image-2 {
    width: 182px;
    height: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 254px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 53px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 160px;
  }
}